/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* scroll bar styles */
body,
.withScroll {
  scrollbar-width: thin;
  /* "auto" или "thin"  */
  /* scrollbar-color: rgba(2, 142, 74, 1) rgba(255, 255, 255, 0.8); */
  scrollbar-color: rgb(63, 64, 64) rgba(255, 255, 255, 0.8);
  /* плашка скролла и дорожка */
}

.withScroll.opposite {
  direction: rtl;
}

body::-webkit-scrollbar,
.withScroll::-webkit-scrollbar {
  width: 12px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track,
.withScroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb,
.withScroll::-webkit-scrollbar-thumb {
  background-color: #F49AA5;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: 4px solid rgba(255, 255, 255, 1);
  /* padding вокруг плашки */
}

.hideScroll {
  scrollbar-width: none;
}

.hideScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chakra-input__left-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}